

<div class="body_section">
    <div class="body_section__top">
        <partial name="~/Views/_CalendarSection.cshtml" />
        <partial name="~/Views/_Schedule.cshtml" />
    </div>
    <partial name="~/Views/_TipsAndSuggestions.cshtml" />
    <div class="statics_updates">
        <div class="clinic-statistics-wrapper">
            <partial name="~/Views/Shared/_ClinicStatistics.cshtml" />
        </div>
        <partial name="~/Views/_News.cshtml" />
    </div>
</div>