

<div class="body_section">
    <partial name="~/Views/_CalendarSection.cshtml" />
    <partial name="~/Views/_Schedule.cshtml" />
    <partial name="~/Views/_TipsAndSuggestions.cshtml" />
    <div class="statics_updates">
        <partial name="~/Views/_ClinicStatistics.cshtml" />
        <partial name="~/Views/_News.cshtml" />
    </div>
</div>