
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<div class="news">
    <div class="news_section">
        <div class="news_section_header">National Hearing News</div>
        <div class="news_section_view_all"><a>View All</a></div>
    </div>
    <div class="news_new_product">
        <img src="~/images/new_product.png" />
        <label class="news_new_product_month">Nov</label>
        <label class="news_new_product_launched"><b>New Product Launched</b></label>
    </div>
    <div class="news_available">
        <label class="news_available_date">Nov</label>
        <div class="news_available_desc">
           <b>Now sieman sigama fast hearing aid </b>Now availbale on NH catalogue
        </div>
        <button class="news_available_view">View</button>
    </div>
</div>
